/** SNEAKY HACKS */
* {
    user-select: none; /* to prevent text selection when spam clicking */
}

/** FONTS */
@font-face {
    font-family: "Press Start 2P";
    src: url("./fonts/PressStart2P-Regular.ttf") format("truetype");
}

#page {
    font-family: "Press Start 2P";
}
#page a {
    font-family: inherit;
}
#page header {
    font-size: 10px;
}
#page footer {
    font-size: 9px;
}

/** CUSTOM LAYOUT */
#page {
    width: 600px;
    max-width: 95vw;
    text-align: center;
}
#page article {
    margin: 21px 0;
}

/** CUSTOM STYLING */
h1 {
    --color: var(--oc-indigo-8);

    text-shadow: 
        1px 1px var(--color), 
        2px 2px var(--color), 
        3px 3px var(--color)
    ;
}
h1.win {
    --color: var(--oc-green-8);
}
h1.fail {
    --color: var(--oc-red-8);
}

hr {
    padding: 21px 0;
}

#page .fork p a,
#page .fork {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#page .fork p a:not(:last-child)::after,
#page .fork:not(:last-child)::after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: var(--oc-gray-8);
}
#page .fork p a:not(:last-child)::after {
    margin-top: 10px;
}
#page .fork:not(:last-child)::after {
    margin-top: -1px;
}

/** CUSTOM COMPONENTS */
.acquired {
    padding-top: 5px;
    color: var(--oc-teal-6);
}
.acquired::before {
    content: "You find ";
}
.acquired::after {
    content: " and stash it away."
}

.speech-bubble {
    --pixel-size: 4px;
    --color: var(--oc-gray-8);

    background-color: var(--color);

    position: relative; 

    margin-left: calc(10vw);
    margin-right: calc(2vw);
    margin-bottom: calc(var(--pixel-size) * 4);

    padding: var(--pixel-size);

    animation: inherit;
    animation-delay: inherit;
}
span.fade-in .speech-bubble {
    opacity: 0;
    animation: fade-in 1s ease-out forwards;
}
.speech-bubble span {
    opacity: 0.8;
}
.speech-bubble p {
    display: none;
}
.speech-bubble-corner {
    position: absolute;
    
    background-color: var(--oc-gray-9);
    width: var(--pixel-size);
    height: var(--pixel-size);
}
.speech-bubble-corner:nth-of-type(1) {
    left: 0;
    top: 0;
}
.speech-bubble-corner:nth-of-type(2) {
    right: 0;
    top: 0;
}
.speech-bubble-corner:nth-of-type(3) {
    left: 0;
    bottom: 0;
}
.speech-bubble-corner:nth-of-type(4) {
    right: 0;
    bottom: 0;
}
.speech-bubble-pointer {
    position: absolute;

    bottom: calc(var(--pixel-size) * 5 * -1);

    width: calc(var(--pixel-size) * 5);
    right: calc(var(--pixel-size) * 2);
}
.speech-bubble-pointer > * {
    position: relative;
    right: 0;

    height: var(--pixel-size);

    background-color: var(--color);

    width: calc(100% - var(--i) * var(--pixel-size) );
    left: calc(var(--i) * var(--pixel-size))
}
.speech-bubble-pointer > *:nth-child(2) {
    --i: 1;
}
.speech-bubble-pointer > *:nth-child(3) {
    --i: 2;
}
.speech-bubble-pointer > *:nth-child(4) {
    --i: 3;
}
.speech-bubble-pointer > *:nth-child(5) {
    --i: 4;
}
